/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* CSS Variables */
:root {
    --text-color: #fff;
    --main-color: #F7B41A;
    --second-color: #f7b51ad3;
    --bg-color: #181818;

    --big-font: 4rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 12%;
    background: transparent;
    transition: all .42 ease;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list a {
    color: var(--text-color);
    font-size: 19px;
    font-weight: 500;
    padding: 10px 25px;
    transition: all .42s ease;
}

.nav_list a:hover {
    color: var(--main-color);
}

.nav_btn {
    display: flex;
    align-items: center;
}

#menu_icon {
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.btn {
    display: flex;
    align-items: center;
}

.btn i {
    color: var(--text-color);
    font-size: 28px;
    margin-right: 5px;
    transition: all .42s ease;
}

.btn i:hover {
    color: #000;
}

.nav_btnn a {
    color: var(--text-color);
    font-size: 19px;
    font-weight: 300;
    padding: 10px 25px 11px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    margin-right: 15px;
    transition: all .42s ease;
}

.nav_btnn a:hover {
    background: var(--second-color);
    color: #000;
}

/* Home Section */
section {
    padding: 60px 12%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image/home-img.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home_text h1 {
    font-family: "Contrail One", sans-serif;
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}

.home_text h1 span {
    color: var(--main-color);
}

.home_text p {
    display: inline-block;
    max-width: 450px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 60px;
}

.home_img img {
    position: relative;
    width: 100%;
    max-width: 680px;
    height: auto;
    padding-top: 30px;
}

.home_btn a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    background: var(--main-color);
    transition: all .42s ease;
}

.home_btn a:hover {
    background: transparent;
}

/* Down_Left */
.down_img {
    position: absolute;
    top: 72%;
    right: 15%;
}

.down_left img {
    width: 100%;
    max-width: 280px;
    height: auto;
    cursor: pointer;
    transition: all .42s ease;
}

.down_left img:hover {
    filter: brightness(60%);
}

.left_img {
    position: absolute;
    top: 82%;
    left: 12%;
}

.left_img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 1475px){
    header {
        padding: 25px 4%;
        transition: .4s;
    }

    section {
        padding: 60px 4%;
        transition: .4s;
    }

    .left_img {
        left: 4%;
        top: 85%;
        transition: .6s;
    }
}

@media screen and (max-width: 1225px) {
    .home_text h1 {
        font-size: 3.3rem;
        line-height: 1.2;
        transition: .4s;
    }

    .down_img img {
        width: 250px;
        transition: .4s;
    }

    .home_text p{
        margin-bottom: 40px;
        transition: .4s;
    }
}

@media screen and (max-width: 1100px) {
    .home_text h1 {
        font-size: 3rem;
        line-height: 1.2;
        transition: .4s;
    }

    .home_btn a {
        padding: 10px 20px;
        transition: .4s;
    }

    .left_img img {
        width: 240px;
        transition: .4s;
    }

    .down_left img {
        width: 200px;
        transition: .4s;
    }
}

@media screen and (max-width: 920px) {
    .home {
        grid-template-columns: 1fr;
        height: auto;
    }

    .home_img {
        text-align: center;
    }

    .left_img img {
        display: none;
    }

    .down_left img {
        display: none;
    }

    .home_text {
        padding-top: 90px;
    }
}

@media screen and (max-width: 810px) {
    .home_text h1 {
        font-size: 2.7rem;
        line-height: 1.2;
        transition: .4s;
    }

    .home_btn a {
        padding: 10px 20px;
        transition: .3s;
    }

    .logo img  {
        width: 120px;
        height: auto;
    }
}

@media screen and (max-width: 940px) {
    #menu_icon {
        display: block;
    }

    .nav_list {
        position: absolute;
        top: 0;
        right: 0;
        left: 100%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        display: block;
        flex-direction: column;
        backdrop-filter: blur(30px);
        transition: all .42s ease-in-out;
    }

    .nav_list a {
        display: block;
        padding: 0;
        margin: 20px 0;
        font-size: 22px;
    }

    .nav_list.open {
        left: 0;
    }

    .home_text {
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    .home_text h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        transition: .4s;
    }

    .nav_btnn a {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 300;
        padding: 8px 20px 8px;
        border: 2px solid var(--main-color);
        border-radius: 30px;
        margin-right: 15px;
        transition: all .42s ease;
    }
}
